---
layout: layouts/home.njk
templateClass: tmpl-post
pagination:
  data: blogposts
  size: 1
  alias: blogpost
permalink: blog/{{ blogpost.slug }}/index.html
tags: [{{ blogpost.tags }}]
---
{# {{ collections | log }} #}
{% include "postslist.njk" %}
{% set htmlTitle = blogpost.title %}

{% block content %}
  {# blogpost #}

  <h1>{{ blogpost.title }}</h1>
  <p><time class="postlist-date" datetime="{{ blogpost.date }}">{{ blogpost.date.toString() }}</time></p>
   
  <p>{{ blogpost.body | safe }}</p>

  {% for tag in blogpost.tags %}
  {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
  {% endfor %}
   


  {# related blogposts #}

  {% if blogpost.relatedBlogs | length %}
    <h2>You might also like</h2>
    <ul>
    {% for item in blogpost.relatedBlogs %}
      {% for post in blogposts %}
        {% if post.id == item.id %}
          <li>
            <a href="/blog/{{ post.slug }}">{{ post.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
    </ul>
  {% endif %}
{% endblock %}