


<nav class="site-nav family-sans navbar navbar-expand-md bg-dark navbar-dark sticky-top py-0">
  <div class="container-fluid">
    <button type="button" class="navbar-toggler my-2 my-md-0" data-toggle="collapse" data-target="#myTogglerNav" aria-controls="myTogglerNav" aria-label="Toggle Navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-brand text-uppercase">
      <a href="/" class="text-light"><i class="fas fa-cube mr-2"></i>{{pkg.name}}</a>
    </div>

    <div class="collapse navbar-collapse text-center mt-0" id="myTogglerNav">
      <div class="navbar-nav ml-auto font-weight-regular text-uppercase">

        <a href="/" class="nav-item nav-link"><i class="fas fa-home"></i></a>
        {% set mainNav = collections.all | eleventyNavigation %}
          {% for nav in mainNav %}
            {% if nav.key !== "Home" %}
            <a href="{{nav.url}}" class="nav-item nav-link">{{nav.key }}</a>
            {% endif %}
            
          {% endfor %}


        <div class="nav-item dropdown ">
          <a href="" class="nav-link dropdown-toggle t" href="" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded-="false">
            <i class="fas fa-user" ></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a href="" class="dropdown-item text-capitalize ml-2">About Me</a>
            <div class="dropdown-divider"></div>

              {% for socialNav in social %}

                <a href="{{socialNav.url}}" target="_blank" class="dropdown-item text-capitalize d-block"><i class="{{socialNav.iconClass}} text-seconday mx-2"></i>{{socialNav.name}}</a>
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>